body {
    font-family: sans-serif;
    margin: 30px;
	background: linear-gradient(135deg, #f6eb3d 0%, #f32ebb 120%);
    min-height: 93vh;
}
form {
    margin-bottom: 30px;
    background: white;            /* Fond blanc pour mieux voir l’ombre */
    padding: 20px;                /* Un peu de padding */
    border-radius: 8px;           /* Bords arrondis */
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);  /* Ombre douce */
    transition: transform 0.3s ease;
}

form:hover {
    transform: translateY(-10px);  /* Légère remontée au survol */
    box-shadow: 0 15px 25px rgba(0,0,0,0.3); /* Ombre plus grande au survol */
}

textarea {
    width: 100%;
}

.text {
	color: black;
    font-weight: bold;
    text-align: center;
}

.card-body {
	box-shadow: 0 8px 15px rgba(0,0,0,0.8);
	border-radius: 10px;
}
